<header>
  <a onclick="openSummary()" href="#" rel="noopener noreferrer"><img class="JoinLogoHeaderImg" src="assets/img/JoinLogoMobile.png"></a>
  <span class="headline">Kanban Project Management Tool</span>
  <div class="center fixed-width-104">
    <div onclick="showMenuBar()" class="circle"><span id="initials"></span></div>
  </div>
</header>

<div id="help-menu-bar" class="help-click d-none">
  <a onclick="openHelp(event)" href="#" class="help-link">Help<img class="help-icon" src="./assets/img/help-icon.png"></a>
  <a onclick="openLegalNotice(event)" id="navLN" class="help-link">Legal Notice</a>
  <a onclick="openPrivacyPolicy(event)" id="navPP" class="help-link">Privacy Policy</a>
  <a onclick="openLogIn()" class="help-link">Log out</a>
</div>
